## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Port Blair,IN,75.20,mist,11.6667,92.7500,J Hotel
1,2,Pisco,PE,73.40,clear sky,-13.7000,-76.2167,Hostal Tambo Colorado
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura
3,17,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,Pinpin d'Amour
4,19,Banjar,ID,84.20,few clouds,-8.1900,114.9675,The Raja Singha Boutique Resort Bali

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Sechura")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Sechura")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Chicama")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Huarmey")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Mazamari")]

frames = [vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3]
result = pd.concat(frames)
result

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura
139,496,Chicama,PE,75.85,broken clouds,-7.8447,-79.1469,Bungalow Las Estrellas
81,287,Huarmey,PE,73.63,overcast clouds,-10.0681,-78.1522,Hostel Jaime Crazy
90,311,Mazamari,PE,70.90,overcast clouds,-11.3258,-74.5308,Hospedaje El Conquistador

In [73]:
vacation_start = vacation_df.loc[(vacation_df["City"]== "Sechura")]
vacation_start

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura

In [74]:
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Chicama")]
vacation_stop1

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
139,496,Chicama,PE,75.85,broken clouds,-7.8447,-79.1469,Bungalow Las Estrellas

In [75]:
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Huarmey")]
vacation_stop2

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
81,287,Huarmey,PE,73.63,overcast clouds,-10.0681,-78.1522,Hostel Jaime Crazy

In [76]:
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Mazamari")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
90,311,Mazamari,PE,70.9,overcast clouds,-11.3258,-74.5308,Hospedaje El Conquistador

In [77]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
lat = result["Lat"].to_numpy()
lng = result["Lng"].to_numpy()
lat_lng_tuple = zip(lat, lng)
coordinates = list(lat_lng_tuple)

start = coordinates[0]
end = coordinates[0]
stop1 = coordinates[1]
stop2 = coordinates[2]
stop3 = coordinates[3]

In [78]:
coordinates

[(-5.5569, -80.8222),
 (-5.5569, -80.8222),
 (-7.8447, -79.1469),
 (-10.0681, -78.1522),
 (-11.3258, -74.5308)]

In [107]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Sechura = (-5.5569, -80.8222)
Sechura = (-5.5569, -80.8222)
Chicama = (-7.8447, -79.1469)
Huarmey = (-10.0681, -78.1522)
Mazamari = (-11.3258, -74.5308)

fig = gmaps.figure()
west_trip_map = gmaps.directions_layer(Sechura, Sechura,
                                       waypoints=[Chicama, Huarmey, Mazamari],
                                      travel_mode = "DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(west_trip_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [92]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = result
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura
2,5,Sechura,PE,78.94,clear sky,-5.5569,-80.8222,Hotel Amanecer - Sechura
139,496,Chicama,PE,75.85,broken clouds,-7.8447,-79.1469,Bungalow Las Estrellas
81,287,Huarmey,PE,73.63,overcast clouds,-10.0681,-78.1522,Hostel Jaime Crazy
90,311,Mazamari,PE,70.90,overcast clouds,-11.3258,-74.5308,Hospedaje El Conquistador

In [109]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [110]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))